.headerTitle {
  margin-top: 2rem;
  font-size: 2.8rem;
  padding: 3rem;
  margin-left: 2rem;
}
.headerName {
  font-size: 5rem;
  margin-top: 2rem;
  padding: 4.5;
  text-align: center;
  font-weight: 500;
}
.text {
  padding: 1.5rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 3rem;
  border-bottom: 1px solid black;
}
.textSecond {
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: 300;
}
.icon {
  padding: 1rem;
  font-size: 3rem;
  color: black;
  font-weight: bold;
  text-align: center;
}
