* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  min-height: 100vh;
  font-family: "Reddit Mono", monospace;
  font-size: 62.5%;
  font-weight: 400;
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  color: black;
  text-transform: uppercase;
}
